<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9649fb20-f6c2-4a09-95f9-a77798ebe216/resourcegroups/KalafinaWikiResourceGroup/providers/Microsoft.Web/sites/KalafinaWiki</ResourceId>
    <ResourceGroup>KalafinaWikiResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kalafinawiki.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kalafinawiki.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KalafinaWiki</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KalafinaWiki</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="KalafinaMusicContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:kalafinawiki-user-dbserver.database.windows.net,1433;Initial Catalog=KalafinaUserContext;Persist Security Info=False;User ID=crowee190;Password=A@z123456;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Kalafina.Models.MusicContext, Kalafina" MigrationConfiguration="Kalafina.Migrations.MusicMigrations.Configuration, Kalafina" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KalafinaUserContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:kalafinawiki-user-dbserver.database.windows.net,1433;Initial Catalog=KalafinaUserContext;Persist Security Info=True;User ID=crowee190;Password=A@z123456;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Kalafina.Models.ApplicationUserContext, Kalafina" MigrationConfiguration="Kalafina.Migrations.ApplicationUserMigrations.Configuration, Kalafina" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="KalafinaUserContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kalafinawiki-user-dbserver.database.windows.net,1433;Initial Catalog=KalafinaUserContext;Persist Security Info=True;User ID=crowee190;Password=A@z123456;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="KalafinaMusicContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kalafinawiki-user-dbserver.database.windows.net,1433;Initial Catalog=KalafinaUserContext;Persist Security Info=False;User ID=crowee190;Password=A@z123456;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="KalafinaMusicContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kalafinawiki-dbserver.database.windows.net,1433;Initial Catalog=KalafinaMusicContext;Persist Security Info=True;User ID=crowee190;Password=A@z123456;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="KalafinaUserContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kalafinawiki-user-dbserver.database.windows.net,1433;Initial Catalog=KalafinaUserContext;Persist Security Info=True;User ID=crowee190;Password=A@z123456;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="KalafinaMusicContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kalafinawiki-dbserver.database.windows.net,1433;Initial Catalog=KalafinaMusicContext;Persist Security Info=True;User ID=crowee190;Password=A@z123456;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>