@{
    ViewBag.Title = "Home Page";
}

<div class="container jumbotron">
    <div>
        <img id="jumbotron" src="/Content/KalafinaMagia_1366x768.jpg" alt="Image of 3 members of Kalafina"/>
    </div>
    
    <h3>A wiki page for all of Kalafina songs</h3>
</div>
