@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://i.imgur.com/gAvdly1.png" width="960" alt="3-members-of-Kalafina"/>
    <a href="https://www.deviantart.com/art/Kalafina-252773821" rel="softmode">Art by softmode</a>
    
    <h3>A wiki page for all of Kalafina songs</h3>
</div>
